page-inicio {
  #Main{
    text-align: center;
  }
  #Cuadrado{
    height: auto;
    border: 2px solid black;
    text-align: center;
  }
  #Cuadrado ion-input{
    margin: 3%;
  }

  img{
    width: 50%;
    margin: 5%;
  }

  #botones{
    margin: 5%;
  }
}
