page-confirmacion {
    #Resumen{
        border: 2px solid black;
        width:auto;
        height: 50%;
        margin:2%;
        text-align: center;
        overflow-y:scroll;
    }
    #fotito{
        width:30%;
        float: left;
    }
    #oferta{
        margin: 2%;
        text-align: center;
        float:left;
    }
}
